{{#> layout title="Sensordata - Krausshalt"}}

{{#*inline "body"}}

<div class="Box Box--blue m-5">
  <div class="Box-header">
    <h3 class="Box-title">
      Current Weather: {{currentWeather.description}}
    </h3>
  </div>
  <div class="Box-row">
    Temperature: {{currentWeather.temperature}}°C
  </div>
  <div class="Box-row">
    Humidity: {{currentWeather.humidity}}%
  </div>
</div>

{{#each sensorData}}
<div class="Box Box--blue m-5">
  <div class="Box-header">
    <h3 class="Box-title">
      {{alias}}
      <span class="Counter Counter--gray-dark">{{battery}}%</span>
    </h3>
  </div>
  <div class="Box-row">
    Temperature: {{temperature}}°C
  </div>
  <div class="Box-row">
    Humidity: {{humidity}}%
  </div>
  <div class="Box-footer d">
    Last update: <span class="date-time" title="{{lastUpdate}}" data-time="{{lastUpdate}}">{{lastUpdate}}</span>
  </div>
</div>
{{/each}}

<script type="text/javascript">
  const documentReady = function(){
    const dateTimeElements = document.getElementsByClassName('date-time')
    for(const element of dateTimeElements) {
      const parsedDate = moment(element.getAttribute('data-time')).local()
      const difference = parsedDate.diff(moment())
      const duration = moment.duration(difference).humanize()
      element.innerHTML = `${duration} ago`
    }
  }

  if (document.readyState === "complete" || (document.readyState !== "loading" && !document.documentElement.doScroll)) {
    documentReady();
  } else {
    document.addEventListener("DOMContentLoaded", documentReady);
  }

</script>

{{/inline}}

{{/layout}}