{{#> layout title="sensors - krausshalt"}}

{{#*inline "body"}}

<div class="Box Box--blue Box--condensed m-2 mb-3">
  <div class="Box-header d-flex flex-items-center" >
    <h2 class="Box-title overflow-hidden flex-auto">
      <img class="avatar avatar-small mr-2" alt="{{currentWeather.description}}" src="{{currentWeather.icon}}" width="32" height="32" />
      {{currentWeather.description}}
    </h2>
    <button class="btn btn-primary btn-sm" onclick="location.reload()">
        Refresh
    </button>
  </div>
  <div class="Box-row">
    <div class="container-lg clearfix">
      <div class="col-6 float-left border-right p-2">
        <h2 class="text-center">{{currentWeather.temperature}}°C</h2>
      </div>
      <div class="col-6 float-right p-2">
        <h2 class="text-center">{{currentWeather.humidity}}%</h2>
      </div>
    </div>
  </div>
  <div class="Box-footer d">
    <span class="text-bold">Last update: </span> <span class="date-time" title="{{currentWeather.last_update}}" data-time="{{currentWeather.last_update}}"></span>
  </div>
</div>

{{#each sensorData}}
<div class="Box Box--condensed m-2 mb-3">
  <div class="Box-header">
    <h2 class="Box-title">
      <a href="/sensor/{{id}}">{{alias}}</a>
      <span class="Counter Counter--gray-dark" title="{{battery}}% battery left">{{battery}}%</span>
    </h2>
  </div>
  <div class="Box-row">
    <div class="container-lg clearfix">
      <div class="col-6 float-left border-right p-2">
        <h2 class="text-center">{{temperature}}°C</h2>
      </div>
      {{#if isDoorSensor }}
      <div class="col-6 float-right p-2">
        <h2 class="text-center">{{state}}</h2>
      </div>
      {{else}}
      <div class="col-6 float-right p-2">
        <h2 class="text-center">{{humidity}}%</h2>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="Box-footer">
    <span class="Counter--gray-dark" >
      <span class="text-bold">Last update: </span><span class="date-time" title="{{last_update}}" data-time="{{last_update}}"></span>
    </span>
  </div>
</div>
{{/each}}

{{/inline}}

{{/layout}}
